n8n/email-digest-workflow.json
{
  "name": "IntelliHR Tenant Leave Digest",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-digest",
        "options": {}
      },
      "id": "e2f7b036-7c9c-4613-8d09-b47209772d1b",
      "name": "Backend Leave Digest Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json.body || items[0].json;\nconst companyId = body.companyId;\nconst hrEmail = body.hrEmail;\nconst requests = body.requests || [];\nif (!companyId || !hrEmail) {\n  throw new Error('companyId and hrEmail are required for tenant-isolated leave digests');\n}\nconst pending = requests.filter((request) => request.status === 'pending');\nlet html = '<h3>Awaiting Leave Approvals Summary</h3>';\nhtml += '<table border=\"1\" style=\"border-collapse: collapse; width:100%;\">';\nhtml += '<tr><th>Employee</th><th>Leave type</th><th>Duration</th></tr>';\npending.forEach((request) => {\n  html += `<tr><td>${request.employeeName}</td><td>${request.leaveType}</td><td>${request.startDate} to ${request.endDate}</td></tr>`;\n});\nhtml += '</table>';\nreturn [{ json: { companyId, hrEmail, shouldSend: pending.length > 0, htmlContent: html, count: pending.length } }];"
      },
      "id": "e3f7b036-7c9c-4613-8d09-b47209772d1c",
      "name": "Format Tenant Digest HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.hrEmail }}",
        "subject": "=IntelliHR Digest: {{ $json.count }} Pending Leave Requests",
        "message": "={{ $json.htmlContent }}"
      },
      "id": "e4f7b036-7c9c-4613-8d09-b47209772d1d",
      "name": "Mail Tenant HR Manager",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        820,
        300
      ]
    }
  ],
  "connections": {
    "Backend Leave Digest Webhook": {
      "main": [
        [
          {
            "node": "Format Tenant Digest HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Tenant Digest HTML": {
      "main": [
        [
          {
            "node": "Mail Tenant HR Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
