n8n/password-reset-workflow.json
{
  "name": "IntelliHR Password Reset Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "password-reset",
        "responseMode": "responseNode"
      },
      "id": "password-reset-webhook",
      "name": "Password Reset Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "fromEmail": "security@intellihr.com",
        "toEmail": "={{$json.body?.email || $json.email}}",
        "subject": "Reset your IntelliHR password",
        "html": "<p>Hello {{$json.body?.name || $json.name || 'there'}},</p><p>Use the secure link below to reset your IntelliHR password.</p><p><a href=\"{{$json.body?.resetUrl || $json.resetUrl}}\">Reset password</a></p><p>This link expires in 30 minutes.</p>"
      },
      "id": "send-reset-email",
      "name": "Send Reset Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\":true}"
      },
      "id": "reset-response",
      "name": "Reset Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Password Reset Webhook": {
      "main": [
        [
          {
            "node": "Send Reset Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reset Email": {
      "main": [
        [
          {
            "node": "Reset Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
