n8n/payroll-workflow.json
{
  "name": "IntelliHR Tenant Payroll Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "payroll-trigger",
        "options": {}
      },
      "id": "e2f7b036-7c9c-4613-8d09-b47209772d1a",
      "name": "Backend Payroll Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = items[0].json.body || items[0].json;\nconst companyId = body.companyId;\nconst month = body.month;\nconst year = body.year;\nconst records = body.records || [];\nif (!companyId) {\n  throw new Error('companyId is required for tenant-isolated payroll processing');\n}\nreturn records.map((record) => ({\n  json: {\n    companyId,\n    month,\n    year,\n    employeeId: record.employeeId,\n    name: record.name,\n    email: record.email,\n    grossSalary: record.grossSalary,\n    deductions: record.deductions || {},\n    bonuses: record.bonuses || 0,\n    netSalary: record.netSalary\n  }\n}));"
      },
      "id": "d1f7b036-7c9c-4613-8d09-b47209772d1c",
      "name": "Use Company-Scoped Payroll Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        360
      ]
    },
    {
      "parameters": {
        "operation": "generate",
        "documentName": "Payslip",
        "text": "=Company: {{ $json.companyId }}\nName: {{ $json.name }}\nPeriod: {{ $json.month }}/{{ $json.year }}\nGross Pay: {{ $json.grossSalary }}\nBonuses: {{ $json.bonuses }}\nNet Pay: {{ $json.netSalary }}"
      },
      "id": "e1f7b036-7c9c-4613-8d09-b47209772d1d",
      "name": "Generate Payslip PDF",
      "type": "n8n-nodes-base.pdfKit",
      "typeVersion": 1,
      "position": [
        750,
        360
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Your monthly payslip",
        "message": "Hello {{ $json.name }}, your payslip is attached.",
        "attachments": "Payslip"
      },
      "id": "f1f7b036-7c9c-4613-8d09-b47209772d1e",
      "name": "Send Payslip Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1000,
        360
      ]
    }
  ],
  "connections": {
    "Backend Payroll Webhook": {
      "main": [
        [
          {
            "node": "Use Company-Scoped Payroll Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Company-Scoped Payroll Records": {
      "main": [
        [
          {
            "node": "Generate Payslip PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Payslip PDF": {
      "main": [
        [
          {
            "node": "Send Payslip Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}
